body{
    font-family: 'Koulen', cursive;
    background-color: orange;
}

.header_div{
    background-color: white;
    color: red;
}

.header_div p{
    font-family: 'Roboto', 'sans-seriff';
    color: grey;
    letter-spacing: 2px;
    font-size: 2px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto', 'sans-seriff';
    margin-top: 30px;
    width: 160px;
    font-weight: bolder;
    letter-spacing: 3px;
}
/*bottom and margin bottom are not the same*/


.copy_right_footer{
    position:fixed;
    color: grey;
    width: 100%;
    text-align: center;
    
    text-shadow: 5px 5px 10px grey;
    line-height: 3;
    background-color: white;
}